  <section class="content-header">
	<h1>
           网络管理
    </h1>
	<ol class="breadcrumb">
		<li>
			<a href="#"><i class="fa fa-dashboard"></i>主页</a>
		</li>
		<li>
			<a href="#">网络管理</a>
		</li>
		<li class="active">主机业务</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">主机业务</h3>
					<button type="button" style="width: 75px;margin-left: 10px;float: right; margin-top: 25px;" class="btn btn-block btn-warning" ng-click="showDialog()">删除</button>
					<button type="button" style="width: 75px;margin-left: 10px;float: right;margin-top: 25px;" class="btn btn-block btn-success" ng-click="update()">修改</button>	
					<a href="#/servicechaincreate"><button type="button" style="float: right;width: 75px;margin-left: 10px;margin-top: 25px;" class="btn btn-block btn-primary">新建</button></a>								
				</div>
				<div class="box-body">
					<table id="table_list" class="table table-bordered table-hover">
						<!--<tr><th width='20'>选择</th><th width='195'>用户名</th><th width='195'>权限</th> <th width='195'>用户密码</th></tr>-->
						<thead>
							<tr>
								<th>操作</th>
								<th>主机业务名称</th>
								<th>关联业务流</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in data.connectivitys">
								<td><input type='radio' id='checking' name='checking' class='select_btn fl' value='{{x.name}}' title='{{x.description}}' /></td>
								<td>{{ x.name}}</td>
								<td>{{ x.policyid}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
	
   
   
   
   
   
   
   
   
   
   
  