<!-- Flow partial HTML -->
<div id="ov-table">
    <div class="tabular-header">
        <h2>
            Tables for Device {{devId || "(No tables selected)"}}
            ({{tableData.length}} total)
        </h2>

        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-size="42" icon-id="refresh"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>

            <div class="separator"></div>

            

            <span ng-if="!brief">
            <div class="active"
                 icon icon-id="minus" icon-size="42"
                 tooltip tt-msg="briefTip"
                 ng-click="briefToggle()"> </div>
            </span>

            

            <div class="active"
                 icon icon-id="deviceTable" icon-size="42"
                 tooltip tt-msg="deviceTip"
                 ng-click="nav('device')"></div>

			<div class="active"
                 icon icon-id="flowTable" icon-size="42"
                 tooltip tt-msg="flowTip"
                 ng-click="nav('flow')"></div>

            <div class="active"
                 icon icon-id="portTable" icon-size="42"
                 tooltip tt-msg="portTip"
                 ng-click="nav('port')"></div>

            <div class="active"
                 icon icon-id="groupTable" icon-size="42"
                 tooltip tt-msg="groupTip"
                 ng-click="nav('group')"></div>

            <div class="active"
                 icon icon-id="meterTable" icon-size="42"
                 tooltip tt-msg="meterTip"
                 ng-click="nav('meter')"></div>
				 
			<div class="current-view"
                 icon icon-id="nav_yang" icon-size="42"></div>

        </div>

    </div>

    <div class="summary-list" onos-table-resize>
        <div class="table-header" onos-sortable-header>
            <table>
                <tr>
                    <td colId="tableid" col-width="180px" sortable>Table ID </td>
                    <td colId="activecount" sortable>Active Count </td>
                    <td colId="lookupcount" sortable>Lookup Count </td>
                    <td colId="matchcount" sortable>Matched Count </td>                    
                </tr>
            </table>
        </div>

        <div class="table-body">
            <table onos-flash-changes id-prop="id">
                <tr ng-if="!tableData.length" class="no-data">
                    <td colspan="10">
                        {{annots.no_rows_msg}}
                    </td>
                </tr>

                <tr ng-repeat-start="table in tableData | filter:queryFilter track by $index"
                    ng-click="selectCallback($event, table)"
                    ng-class="{selected: table.tableid === selId}"
                    ng-repeat-complete row-id="{{table.tableid}}">
                    <td>{{table.tableid}}</td>
                    <td>{{table.activecount}}</td>
                    <td>{{table.lookupcount}}</td>
                    <td>{{table.matchedcount}}</td>
                </tr>
                <tr row-id="{{table.tableid}}" ng-hide="brief">
                    <td class="selector" colspan="10" >{{table.activecount}} </td>
                </tr>
                <tr row-id="{{table.tableid}}" ng-repeat-end ng-hide="brief">
                    <td class="treatment" colspan="10">{{table.lookupcount}}</td>
                </tr>
            </table>
        </div>

    </div>

</div>
