<!-- policy partial HTML -->
<div id="ov-policy">
    <div class="tabular-header">
        <h2>Component Policys ({{tableData.length}} total)</h2>
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-size="42" icon-id="refresh"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>
        </div>
    </div>

    <div class="summary-list" onos-table-resize>
        <div class="table-header" onos-sortable-header>
            <table>
                <tr>
                    <td colId="policyid" sortable col-width="260px">POLICYID </td>
                    <td colId="srcIp" sortable col-width="260px">SRCIP </td>
                    <td colId="dstIp" sortable col-width="100px">DSTIP </td>
                    <td colId="content" sortable col-width="100px">CONTENT </td>
                </tr>
            </table>
        </div>

        <div class="table-body">
            <table onos-flash-changes id-prop="policyid">
                <tr ng-if="!tableData.length" class="no-data">
                    <td colspan="6">
                        {{annots.no_rows_msg}}
                    </td>
                </tr>

                <tr ng-repeat="prop in tableData track by $index"
                    ng-click="selectCallback($event, prop)"
                    ng-class="{selected: prop.policyid === selId}"
                    ng-repeat-complete row-id="{{prop.policyid}}">
                    <td>{{prop.policyid}}</td>
                    <td>{{prop.srcIp}}</td>
                    <td>{{prop.dstIp}}</td>
                    <td>{{prop.content}}</td>
                </tr>
            </table>
        </div>

    </div>
    <policy-details-panel></policy-details-panel>

</div>
