<section class="content-header">
	<h1>
           网络管理
    </h1>
	<ol class="breadcrumb">
		<li>
			<a href="#"><i class="fa fa-dashboard"></i>主页</a>
		</li>
		<li>
			<a href="#">网络管理</a>
		</li>
		<li class="active">主机业务</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="t_box fl" id="ul1" style="margin-left:20%;margin-right:20%;">
					<div class="con fl" style="width:96%">

						<div class="con_top2">
							<label>主机业务名称</label>
							<input type="text" placeholder="请输入名称" class="r fl" id="name" />
							<label>关联业务流</label>
							<select id="policy" class="r fl">
								<option>--请选择--</option>
								<option ng-repeat="x in data.data" value='{{x.policyid}}'>{{x.policyid}}</option>
							</select>
						</div>
						<div class="con_m fl">
							<div class="con_pic">
								<div class="leftImg"></div>
								<div class="submitChain">
									<em style="width:80%;"></em>
								</div>
								<div class="rightImg"></div>
							</div>
							<input class="ip" style="margin-left:18%;" id="outport" disabled="disabled"/>
							<div>
								<input id="inport" style="margin-left:79%;border:1px solid #ddd; width:95px;height:30px;margin-top:10px" disabled="disabled"/>
							</div>
							<a href="#/servicechain" class="btn btn-block btn-warning" style="width: 75px;margin-right:38%;float: right;margin-top:5px">取消</a>
							<a ng-click="addRow()" class="btn btn-block btn-primary" style="width: 75px;float: right;margin-right:5%;margin-top:5px">提交</a>
						</div>
					</div>
				</div>
				<div id='maskDiv' style="z-index:9999"></div>
				<div id="login_dialogDiv" class="dialogDiv r">
					<h1>创建成功</h1>
					<a href="/#servicechain" ng-click="close_loginDiv()" title="关闭窗口" class="close_btn r fl btn">确认</a>
				</div>
			</div>
		</div>
	</div> 

</section>